.form__input {
  width: 358px;
  margin: 0 36px 0;
  padding: 0 0 13px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.form__input:focus {
  outline: 0;
}

.form__input::placeholder {
  color: #c4c4c4;
}

@media screen and (max-width: 767px) {
  .form__input {
    width: 238px;
    margin: 0 22px 0;
  }
}